# Assignment - Statements in Python

In [4]:
# Example # 1 Assigning a string to a variable
p = "Alice99"
q = "jack"
num = 123

print(p,p,p,p,p,"Hello World",99)
print(type(p),type(q), type(num))

Alice99 Alice99 Alice99 Alice99 Alice99 Hello World 99
<class 'str'> <class 'str'> <class 'int'>

In [6]:
# Example # 2 Assigning a value to a variable
x = 30
y = x * 5
z = 2 * 4 + x
print(y,z)

150 38

In [ ]:
# Example # 3 Printing a string
p_string = "Hello, \nWorld \n!"
print(p_string)

Hello,
World
!

In [ ]:
p_string = "Hello, \tWorld \t!" # One Tab equalent to 5 spaces
print(p_string)

Hello, 	World 	!

In [10]:
print("Bike \t bike")

Bike 	 bike

In [13]:
x = 35
y = "Hi "
print(x * y)

Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi Hi

# Datatypes in Python

In [27]:
str = "i am happy."
num = 20
decimal = 20.378
boolean_T = True
boolean_F = False

print(f"String: {str}\t" ,type(str), f"\nNumber: {num}\t\t",type(num) , 
      f"\nDecimal: {decimal}\t\t",type(decimal) , f"\nBoolean_True: {boolean_T}\t",type(boolean_T) , 
      f"\nBoolean_False: {boolean_F}\t",type(boolean_F))

String: i am happy.	 <class 'str'>
Number: 20		 <class 'int'>
Decimal: 20.378		 <class 'float'>
Boolean_True: True	 <class 'bool'>
Boolean_False: False	 <class 'bool'>

# IF - ELSE Conditional Statement

In [ ]:
x1 = 3

if x1 < 6:
    print("HI")
    if x1 == 3:         # Assignment Operator
        print("DRY RUN")
else:
    print("BYE")

HI
DRY RUN

In [35]:
score = 56
if score > 90:
    print("A+")
elif score > 75:
    print("A")
elif score > 60:
    print("B")
elif score > 50:
    print("C")
else: 
    print("FAIL")

C

# FOR LOOP

In [36]:
for value in range(1,5):
    print(value)

1
2
3
4

In [ ]:
for i in range(2,21,2):
    print("2  x ",int(i/2) , " = ", i)

2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20

In [54]:
num = int(input("Enter the table you want to print:"))
for i in range(1,11):
    print(num , " x ",i," = ",i*num)

9  x  1  =  9
9  x  2  =  18
9  x  3  =  27
9  x  4  =  36
9  x  5  =  45
9  x  6  =  54
9  x  7  =  63
9  x  8  =  72
9  x  9  =  81
9  x  10  =  90

# Multiple Assignments

In [55]:
a , b , c = 12 , 13 , 14

print(a)
print(b)
print(c)

12
13
14

In [66]:
num = int(input("Enter any Number: "))

print(num)
if num > 0:
    print("Number is Positive")
elif num == 0:
    print("Number is Zero")
else:
    print("Number is Negative")

0
Number is Zero

# Concatination in string with plus sign

In [69]:
first_name = "Sobia"
last_name = "Alamgir"
full_name = first_name + " " + last_name

print(full_name)
print("$" * 5)

Sobia Alamgir
$$$$$

# Bulitin Functions

In [ ]:
str = "Pyth on" # Store in the variable, when you want to use that variable multiple times
a = "i am learning python."
print(str , "\nLength:",len(str))
print()
print(a,"\nLength:",len(a))

Pyth on
Length: 7

i am learning python.
Length: 21

# Indexing

In [ ]:
text  ="Python"

#  P  y  t  h  o  n
#  0  1  2  3  4  5
# -6 -5 -4 -3 -2 -1

print("First Character:",text[0])   # Square brackets is for indexing
print("Second Character:", text[1])
print("Last Character:", text[-1])
print("Second Last Character:", text[-2])

print("First 3 Characters:", text[0:3]) # last index is not included like in range function
print("Last 3 Characters:", text[-3:]) 
print("Middle 3 characters:", text[1:4], text[-5:-2])

print("Step = 2:" , text[1:4:2])

First Character: P
Second Character: y
Last Character: n
Second Last Character: o
First 3 Characters: Pyt
Last 3 Characters: hon
Middle 3 characters: yth yth
Step = 2: yh

In [108]:
text = "Python   jhj"

for i in range(len(text)):
    if i != 3:  # Skip the 4th character 'h'
        print(text[i],i)

P 0
y 1
t 2
o 4
n 5
  6
  7
  8
j 9
h 10
j 11

In [101]:
# skip 'h'
emp_list = []
for i in text:
    if i != 'h':
        print(i)

P
y
t
o
n



j
j

In [95]:
3 != 3

False

In [96]:
2 != 3

True

In [107]:
text = "Python"

for i in range(len(text)):
    if i >= 3: 
        print(text[i],i)

print()
for i in range(len(text)):
    if i < 3:
        print(text[i],i)

h 3
o 4
n 5

P 0
y 1
t 2

# String Slices

- string slicing will always be Left to right

In [112]:
text = "Python"

#  P  y  t  h  o  n
#  0  1  2  3  4  5
# -6 -5 -4 -3 -2 -1

print("First 3 Characters:", text[0:3]) # last index is not included like in range function
print("Last 3 Characters:", text[-3:]) 
print("Middle 3 characters:", text[1:4], text[-5:-2])

print()

print("First 3 Characters:", text[-6:3]) # last index is not included like in range function
print("Last 3 Characters:", text[3:]) 
print("Middle 3 characters:", text[1:-2], text[-5:4])

First 3 Characters: Pyt
Last 3 Characters: hon
Middle 3 characters: yth yth

First 3 Characters: Pyt
Last 3 Characters: hon
Middle 3 characters: yth yth

In [115]:
print("From second character to onwards:",text[1:])
print("other option:", text[-5:])

From second character to onwards: ython
other option: ython

In [ ]:
print("start from 0:",text[0:-2]) #
print(text[:-2])
print(text[:]) # print all characters
print(text[::-1]) # reverse the string 'palendrome'

start from 0: Pyth
Pyth
Python
nohtyP

In [129]:
#  P  y  t  h  o  n
#  0  1  2  3  4  5
# -6 -5 -4 -3 -2 -1

print(text[-2:-5:-1]) # from -2 to -5 with jump 1

oht

In [8]:
word = 'Sobia'
print(word[::-1])
print(word[:4],word[:-1])
print(word[::2], word[::1])

aiboS
Sobi Sobi
Sba Sobia

In [14]:
sentence = "Machine Learning Model"
part1 = sentence[0:7]
part2 = sentence[8:16][::-1]
part3 = sentence[17:]

print(part1, part2, part3)

Machine gninraeL Model

In [17]:
text = "DataScienceIsFun"

print(text[1::3])

aSeeF

In [ ]:
matrix = [[5, 2, 3],
          [4, 6, 7],
          [8, 9, 1]]

# Static practice
print(matrix[0][0],matrix[1][1],matrix[2][2])
print( )

# FOR LOOP , Dynamic practice
for i in range(len(matrix)):
    print(matrix[i][i])

# List Comprehension
list_cmp = [matrix[i][i] for i in range(len(matrix))]
print(list_cmp)

5 6 1

5
6
1
[5, 6, 1]

In [34]:
# Replace Odd indexes with *
Emp_list = []
word = "IndexingRocks"

print(word[::2])

for i in range(len(word)):
    if i % 2 == 0 :
        Emp_list.append(word[i])
    else:
        Emp_list.append('*')

print(Emp_list)

final_string = ''.join(Emp_list)
print(final_string)

IdxnRcs
['I', '*', 'd', '*', 'x', '*', 'n', '*', 'R', '*', 'c', '*', 's']
I*d*x*n*R*c*s

# Typecasting

In [7]:
num = 123

print("String: ", str(num), type(str(num)))
print("Float: ", float(num), type(float(num)))
print("Integer: ", int(num), type(int(num)))

String:  123 <class 'str'>
Float:  123.0 <class 'float'>
Integer:  123 <class 'int'>

# String Functions
- upper
- lower
- capitalize
- title

In [13]:
text = "Sobia Alamgir"
print("Upper: \t", text.upper())
print("Lower: \t",text.lower())
print("Capitalize: ", text.capitalize())
print("Title: \t", text.title())

Upper: 	 SOBIA ALAMGIR
Lower: 	 sobia alamgir
Capitalize:  Sobia alamgir
Title: 	 Sobia Alamgir

# Strip Functions
- strip()
- lstrip()
- rstrip()

In [15]:
text = "   Sobia Alamgir   "

print("Strip Function: ", text.strip(), len(text))
print("lstrip Function: " , text.lstrip(), len(text))
print("rstrip Function: ", text.rstrip(), len(text))

Strip Function:  Sobia Alamgir 19
lstrip Function:  Sobia Alamgir    19
rstrip Function:     Sobia Alamgir 19

- find()
- index()
- replace()

In [25]:
text = "Python is easy    and Python is f@un."

print("find Function:", text.find("is"))
print("replace Function:", text.replace("Python", "Javascirpt", 1) ) # by default it replace All values
print("index Function:", text.index("is"))

find Function: 7
replace Function: Javascirpt is easy    and Python is f@un.
index Function: 7

In [26]:
print("replace Function:", text.replace("Python", "Javascirpt", 1).replace("@","").replace("   ", ""))

replace Function: Javascirpt is easy and Python is fun.

- .count() - count number of occurances in the string
- .isstartswith() - check starting Alphabet / word
- .isdigit() - is all the Digits in the string
- .isalpha() - is all the Alphabets in the string
- isalnum() - is any Alphabets / Numbers are present in string

In [34]:
text = "Python is easy    and Python is f@un."

print("Count Function:",text.count(" is "))
print("Count Function:",text.count(" Python "))

Count Function: 2
Count Function: 1

In [39]:
print("isstartswith() Function: ", text.startswith("P"))
print("isstartswith() Function: ", text.startswith("Python"))
print("isstartswith() Function: ", text.startswith("p"))

isstartswith() Function:  True
isstartswith() Function:  True
isstartswith() Function:  False

In [44]:
a = "Python3"

print("isdigit() Function: ", a.isdigit())
print("isalpha() Function: ", a.isalpha())
print("isalnum() Function: ", a.isalnum())

isdigit() Function:  False
isalpha() Function:  False
isalnum() Function:  True

# is - elif - else

In [47]:
x = 4

if x > 5:
    print("x is greater than 5")
elif x == 5 :
    print("x is equal to 5")
else:
    print("x is less than 5")

x is less than 5

In [49]:
x == 5

False

# Nested Conditional Statements

In [50]:
x = 10
y = 5

if x > 5:
    print("x is greater than 5")
    if y < 10:
        print("y is less than 10")
        
        if x > 4:
            print("x is greater than 4")
        else:
            print("1212")
    elif x < 4:
        print("jjk")
    else:
        print("x is greater than 4 ")

else:
    print("x is not greater than 5")

x is greater than 5
y is less than 10
x is greater than 4

# Input Function

In [55]:
name = input("Enter yout name:") # By default, input function return string

print("Hello,", name , "! Welcome to the programe.")
print(type(name))

Hello, Sobia Alamgir ! Welcome to the programe.
<class 'str'>

# Loops in Python

* For Loop: When number of iteration is known
* While loop: When number of iteration is not known

In [59]:
count = 0

while count < 5:
    count = count + 1

    # count += 1    Both are same
    print("Count is:", count)

print("Loop Ended")

Count is: 1
Count is: 2
Count is: 3
Count is: 4
Count is: 5
Loop Ended

# Lists, Tuples, Sets, Dictionaries: Builtin Data Structures in Python for various purposes

* ### List are Mutable, ordered collections in Python, that contain elements of different datatypes

In [ ]:
numbers = [1,2, 'sobia',3,[4,8, [2,3,4,5],16] , 4,5, True, 0.06]
print (numbers[4][2][1], type(numbers))

3 <class 'list'>

In [ ]:
n_list = [1,2,3,4] # We can update the list just by index

n_list[3] = 34
print(n_list)

[1, 2, 3, 34]

In [76]:
sentence = "Python is easy and fun 223"

words = sentence.split(" ")
print(words)

['Python', 'is', 'easy', 'and', 'fun', '223']

In [78]:
# Now join the list into string

joined_string = ' '.join(words)
print(joined_string)

Python is easy and fun 223

In [106]:
sentence = "Sobia you will become a Data Scientist by the grace of Allah inshaAllah."

split_sentence = sentence.split(" ")
print(split_sentence)

join_sentence = ' '.join(split_sentence)
print(join_sentence)

['Sobia', 'you', 'will', 'become', 'a', 'Data', 'Scientist', 'by', 'the', 'grace', 'of', 'Allah', 'inshaAllah.']
Sobia you will become a Data Scientist by the grace of Allah inshaAllah.

# Tuples

* Immutable: can not change values
* Defined using parentheses ( )

In [87]:
fruit_tuples = ("Apple", "Banana" , "Cherry" , "Mango" , "Orange")

print(fruit_tuples[::-1])

('Orange', 'Mango', 'Cherry', 'Banana', 'Apple')

# Common List Operations

In [89]:
my_list = [44,66,77]
my_list.append(10)
print("After append:", my_list)

After append: [44, 66, 77, 10]

* We can also define a empty list, to store value

* **Append Function in List**

In [91]:
l = []
for i in range(5):
    l.append("Sobia")

print(l)

['Sobia', 'Sobia', 'Sobia', 'Sobia', 'Sobia']

In [95]:
my_lists = [11,22,33,44,55]

for i in my_lists:
    print(i)

11
22
33
44
55

* **Extend Function in List**

In [97]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list1.extend(list2)
print("After extend: ", list1)
print("NO change in list2:", list2)

After extend:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
NO change in list2: [6, 7, 8, 9, 10]

* **Insert Function in List**

In [ ]:
my_list = [23,24,3]
my_list.insert(1,100) # Insert 100 at index 1
print(my_list)

[23, 100, 24, 3]

* **Remove Function in List**

In [101]:
my_list = [11,22,33,44,55, 22]
my_list.remove(22) # Remove first occurrence of 22
print("After Removal: ", my_list)

After Removal:  [11, 33, 44, 55, 22]

* **pop() Function in List**
  - Removes & return the elements at a specified index
  - If no index is provided, it removes and returns the last element

In [115]:
list1 = [45,56,64,74,85,99,32]
popped_item = list1.pop(2)

print("Popped item: ", popped_item)
print("After pop: ", list1)

Popped item:  64
After pop:  [45, 56, 74, 85, 99, 32]

In [116]:
list1.remove(56)
print("After remove: ", list1)

After remove:  [45, 74, 85, 99, 32]

In [119]:
list1 = [45, 56, 74, 85, 99, 32]
del list1[2]
print("After delete: ", list1)

After delete:  [45, 56, 85, 99, 32]

* **Membership Function ' in '**

In [123]:
my_list = [11,22,33,44,99,55]

if 99 in my_list:
    print("Present")
else:
    print("Not Present")

for i in my_list:
    if i == 33:
        print(i)

Present
33

In [127]:
my_list = [1,2,3,4,5]
my_list.reverse()
print("After reverse: ", my_list)
print("Reversed list using indexing: ", my_list[::-1])

After reverse:  [5, 4, 3, 2, 1]
Reversed list using indexing:  [1, 2, 3, 4, 5]

In [129]:
another_list = [2,3,4,5,3,2,4,2,2,4,3,7,8,9]
another_list.count(2)
print("Count of 2: ", another_list.count(2))

Count of 2:  4

* **AND and OR LOGIC**

In [ ]:
color = "red"

if color == "red" or color == "blue":
    print("if ran")
else:
    print("else ran")

if ran

In [131]:
color == "red" or color == "blue"

True

In [133]:
for i in range(5,10):
    if i == 7:
        break
    print(i)

5
6

In [136]:
for i in range(5,10):
    if i == 7:
        continue
    print(i)

5
6
8
9

In [140]:
num = [1,2,3,4,5,6,7,8,9,10]
slicing = num[4:-1]
print(slicing)

[5, 6, 7, 8, 9]

# Dictionary

In [142]:
student_info = {'name':'Sobia',
                'age': 37,
                'grade':[1.2,1.4],
                'course':{'name':'Python', 'code':'CS101'}}


print(student_info['name'])
print(student_info['age'])
print(student_info['grade'][1])
print(student_info['course']['code'])

print(type(student_info))

Sobia
37
1.4
CS101
<class 'dict'>

In [145]:
student_info['city']=42
print(student_info)

{'name': 'Sobia', 'age': 37, 'grade': [1.2, 1.4], 'course': {'name': 'Python', 'code': 'CS101'}, 'city': 42}

In [152]:
additional_info = {'age':37,'city':'Winnipeg', 'Marks':100}
student_info.update(additional_info)
print(student_info)

{'name': 'Sobia', 'grade': [1.2, 1.4], 'course': {'name': 'Python', 'code': 'CS101'}, 'city': 'Winnipeg', 'Marks': 100, 'age': 37}

In [153]:
remove_age = student_info.pop('age')
print("Removed Age: ", remove_age)
print(student_info)

Removed Age:  37
{'name': 'Sobia', 'grade': [1.2, 1.4], 'course': {'name': 'Python', 'code': 'CS101'}, 'city': 'Winnipeg', 'Marks': 100}

In [154]:
student_info

{'name': 'Sobia',
 'grade': [1.2, 1.4],
 'course': {'name': 'Python', 'code': 'CS101'},
 'city': 'Winnipeg',
 'Marks': 100}

In [155]:
is_age_present = 'age' in student_info
print("Is age present: ", is_age_present)

Is age present:  False

In [ ]:
keys = student_info.keys()
print("Keys: ", keys, type(keys))

values = student_info.values()
print("Values: ", values, type(values))

Keys:  dict_keys(['name', 'grade', 'course', 'city', 'Marks']) <class 'dict_keys'>
Values:  dict_values(['Sobia', [1.2, 1.4], {'name': 'Python', 'code': 'CS101'}, 'Winnipeg', 100]) <class 'dict_values'>
Keys in Dictionary: /n ['name', 'grade', 'course', 'city', 'Marks']

In [162]:
print("Keys in Dictionary: \n",list(keys))
print("Values in Dictionary: \n",list(values))

Keys in Dictionary:
 ['name', 'grade', 'course', 'city', 'Marks']
Values in Dictionary:
 ['Sobia', [1.2, 1.4], {'name': 'Python', 'code': 'CS101'}, 'Winnipeg', 100]

In [168]:
for k,v in student_info.items():
    print("Keys: ",k,"\t\tValues: ",v)

Keys:  name 		Values:  Sobia
Keys:  grade 		Values:  [1.2, 1.4]
Keys:  course 		Values:  {'name': 'Python', 'code': 'CS101'}
Keys:  city 		Values:  Winnipeg
Keys:  Marks 		Values:  100

In [174]:
student_info = {'name':'Alice', 'age':22 , 'grade':'A'}
sorted_dict = sorted(student_info.items(), reverse = True)
print(sorted_dict, type(sorted_dict))   # Returns List
sorted_dict = dict(sorted_dict)
print(sorted_dict, type(sorted_dict))

[('name', 'Alice'), ('grade', 'A'), ('age', 22)] <class 'list'>
{'name': 'Alice', 'grade': 'A', 'age': 22} <class 'dict'>

In [181]:
nested_dict = {'person':{'name':'Alice','age':22,'city':[45,56,[34,90]]}}
nested_dict['person']['city'][2][0]

34

In [183]:
number = 24
if number % 2 ==0:
    print(number, "is even")
else:
    print(number, "is odd")

24 is even

In [189]:
arr_3d = [
    [[1,2,3],[4,5,6]],
    [[7,8,9],[10,11,12]]
]

arr_3d[0][0][0]

1

In [206]:
list_1 = [2,4,6,8,10]
total=0
for i in list_1[:3]:
    total = total + i
    print(total,i)
print(total)

2 2
6 4
12 6
12

In [213]:
list_1 = [2,4,6,8,10]
otal = 0
for i in range(len(list_1)):
    print(i,list_1[i])
    total = total + list_1[i]
print(total)

0 2
1 4
2 6
3 8
4 10
30

In [219]:
fruits = ["Apple", "Banana", "Cherry", "Cat", "bed", "charlie"]

for i in fruits:
    if i.startswith("C") or i.startswith("c"):
        print(i)

Cherry
Cat
charlie

In [223]:
fruits = ["Apple", "Banana", "Cherry", "Cat", "bed", "charlie"]

for i in fruits:
    i = i.upper()
    if i.startswith("C"):
        print(i)

CHERRY
CAT
CHARLIE

In [217]:
fruits = ["Apple", "Banana", "Cherry", "Cat", "bed", "charlie"]

for i in fruits:
    if i[0] in "Cc":
        print(i)

Cherry
Cat
charlie